.App {
  text-align: center;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ActionLogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ActionLogs-ActionLog {
  display: block;
  width: 15vw;
  border: 1px solid cornsilk;
  background: darkslategrey;
  margin: 1vh;
  color: white;
}